[submodule "web/modules/contrib/pub_options"]
	path = web/modules/contrib/pub_options
	url = git@git.drupal.org:project/pub_options.git
[submodule "shoelace_components"]
	path = shoelace_components
	url = git@github.com:Colorfulbloom/shoelace_components.git
